.navbar {
  background-color:#5B8C5A !important;
}

.packet {
  color: #121b13;
}

.name{
    font-weight: bold;
  font-style: italic;
  font-family:'Playfair Display', serif ;
  color: #121b13;
}

.mainpage
{
  background-color: #F7F5E8;
}